/.bundle/*
!/.bundle/config

/log/*
!/log/.keep

/tmp/*
!/tmp/.keep
!/tmp/pids/
/tmp/pids/*
!/tmp/pids/.keep
/tmp/storage/*
!/tmp/storage/.keep

/storage/*.sqlite3
/storage/*.sqlite3-shm
/storage/*.sqlite3-wal
!/storage/.keep

/vendor/bundle

/config/master.key

/.env
/.env.*
/.codex
